<div class="container">
  <div class="row">
    <div class="jumbotron mt-4">
      <h1 class="display-4">STACKMEAN</h1>
      <p class="lead">Development software for companies and individuals, using the best technologies of the moment. Front / Backend, Programming with good practices, Security and Encryption, Responsive Design, etc.</p>
      <hr class="my-4">
      <p>Systems and dynamic applications with perfect pixel.s</p>
      <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
    </div>        
  </div>
</div>