<div class="container">
  <div class="row">
    
    <div class="col-md-4 mt-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title"><h3 class="text-center">{{titleAction}}</h3></div>
        </div>
        <div class="card-body">
          <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_categoryService.selectedCategory._id">
            <div class="form-group">
              <label for="name">Name:</label>
              <input name="name" #name="ngModel" [(ngModel)]="_categoryService.selectedCategory.name" type="text" class="form-control" autofocus>
            </div>
            
            
            <div class="form-group">
              <label for="state">State:</label>
              <select name="state" class="form-control" #state="ngModel" [(ngModel)]="_categoryService.selectedCategory.state">
                <option value="true">ON</option>
                <option value="false">OFF</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-info btn-block btn-lg">{{toggleBtn}}</button>
              <button (click)="resetForm(postForm)" class="btn btn-dark btn-block btn-lg">RESET</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h3 class="text-center">ALL CATEGORIES</h3>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>STATE</th>
                <th>DATE</th>
                <th colspan="2">ACTIONS</th>
              </tr>
              
            </thead>
            <tbody>
              
              <tr *ngFor="let category of _categoryService.categories; index as i">
                <th>{{i+1}}</th>
                <td>{{category.name}}</td>
                <td>
                  <div *ngIf="category.state">
                      <i class="fas fa-check-square text-success"></i>
                  </div>
                  <div *ngIf="!category.state">
                      <span class="badge badge-danger"><i class="fas fa-times"></i></span>
                  </div>
                </td>
                <td>{{category.dateRegister | date: "medium"}}</td>
                <td>
                  <button (click)="editCategory(category)" class="btn btn-warning btn-sm">
                      <i class="fas fa-edit"></i>
                  </button>
                  <button (click)="removeCategory(category._id)" class="btn btn-danger btn-sm ml-1">
                      <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>

